<div id="content_p1" >
    <div class="image_holders" style="top: 25%;">
      <div
        class="images"
        id="img1"
      >
        <img
          [src]="['../../assets/1.jpg']"
          alt="asd"
        >
      </div>
      <div class="images">
        <img
          [src]="['../../assets/2.jpg']"
          alt="adsd"
        >
      </div>
      <div
        class="images"
        id
      >
        <img
          [src]="['../../assets/3.jpg']"
          alt="asd"
        >
      </div>
    </div>
  </div>

<div id="page2">
  <div class="content">
    <p class="story">From Bootstrap</p>
    <h1>Why should you  have Dog</h1>
    <p>
      Dogs are great – they provide us with love,
      companionship and are always there when we need them.
      But did you know there’s far more to dogs than meets the eye?
    </p>
    <h4 style="color: red">
      Facts
    </h4>
    <p  style = "position:relative; right:700px; margin-left: 50%;"><img src="assets/ground.jpg" width="200" height="200" alt=""  style=" margin: 0 0 0 15px; float: right;"/>
      The area of cells in the brain that detect different smells is around 40 times
      larger in dogs than humans. This means that your dog can pick up on way more smells
      than we ever could. This is why dogs are often used to sniff out people,
      drugs and even money!
    </p>

    <p  style = "position:relative; left:200px; margin-left: 50%;">
      Yup, medical detection dogs are a thing. Because their sense of smell is so great, some dogs can be trained to sniff out medical conditions. They are used to diagnose a particular condition or to alert their owners if they need more medication. Some are even being trained to sniff out Covid-19!
      One of these incredible dogs is Medical Detection Dog Pal (pictured above), who was awarded the PDSA Order of Merit. Pal played a vital role in diabetic owner Claire’s life by alerting her of changes in her blood sugar.
    </p>

  </div>



</div>

